/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
/* @import "~@splidejs/splide/dist/css/splide.min.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

model-viewer::part(loading-indicator) {
  display: none;
}

#model {
  --progress-bar-color: none;
  --progress-bar-height: 0px;
}

/* app.component.css */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem;
  transition: top 0.3s ease-out; /* Smooth transition */
}
