<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col justify-center gap-14 lg:flex-row">
    <!-- Image/3D Model Section -->
    <div class="relative lg:w-1/2 bg-gray-100 rounded-md overflow-hidden">
      <!-- Toggle Button -->
      <button
        class="absolute top-2 right-2 bg-white p-2 rounded-full shadow hover:bg-gray-200 z-10"
        (click)="toggleView()"
      >
        <fa-icon [icon]="currentView === 'image' ? fa3DModel : faImage" />
      </button>

      <!-- Frame Container -->
      <div class="w-full h-[525px] relative">
        <!-- Image View -->
        @if (currentView === 'image') {
        <div class="w-full h-full">
          <img
            [src]="'data:image/jpeg;base64,' + oneProduct.image"
            alt="675 Chair"
            class="w-full h-full object-cover"
          />
        </div>
        }

        <!-- 3D Model View -->
        @if (currentView === '3d') {
        <model-viewer
          *ngIf="modelUrl"
          src="{{ modelUrl }}"
          alt="A 3D model"
          camera-controls
          camera-orbit="0deg 75deg 4.5m"
          auto-rotate
          class="w-full h-full"
          id="model"
          shadow-intensity="2"
          interaction-prompt="none"
        ></model-viewer>
        }
      </div>
    </div>

    <!-- Details Section -->
    <div class="lg:w-1/2">
      <h1 class="text-3xl font-bold mb-2">{{ oneProduct.name }}</h1>
      <div class="flex items-center gap-2">
        <span class="text-yellow-400 text-xl">★★★★★</span>
        <span class="text-gray-600">(11 Reviews)</span>
      </div>
      <p class="mt-4 text-gray-600">
        {{ oneProduct.description }}
        <a href="#desc" class="text-blue-500 hover:underline">Read more</a>
      </p>

      <!-- Options -->
      <div class="mt-6">
        <label class="block text-gray-800 font-medium mb-2"
          >Select Finish:</label
        >
        <div class="flex gap-4">
          <button
            class="w-14 h-14 bg-[url('/assets/wood-bg.png')] bg-cover border rounded-md hover:shadow-lg"
          ></button>
          <button
            class="w-14 h-14 bg-[url('/assets/fabric-bg.avif')] bg-cover border rounded-md hover:shadow-lg"
          ></button>
        </div>
      </div>

      <div class="mt-4">
        <label class="block text-gray-800 font-medium mb-2"
          >Select Frame:</label
        >
        <div class="flex gap-4">
          <button class="w-14 h-14 bg-black border rounded-md"></button>
          <button class="w-14 h-14 bg-gray-400 border rounded-md"></button>
        </div>
      </div>

      <div class="mt-4">
        <label class="block text-gray-800 font-medium mb-2">
          Select Upholstery:
        </label>
        <button class="py-1 px-2 bg-gray-100 border rounded-md hover:shadow-lg">
          Fabric : Elum Light
        </button>

        <!-- Add to Cart Section -->

      </div>

      <div class="flex gap-2 flex-col align-middle">
        <div class="flex items-center gap-4 mt-16">
          <button
            class="text-black text-2xl px-4 py-2"
            (click)="decreaseQuantity()"
          >
            -
          </button>
          <span class="text-lg font-medium border border-black px-2 py-0.5">
            {{ quantity }}
          </span>
          <button
            class="text-black text-2xl px-4 py-2"
            (click)="increaseQuantity()"
          >
            +
          </button>
          <button
            class="text-white bg-black hover:bg-white hover:text-black transition-all duration-[300ms]  border border-black px-3.5 py-1.5"
            (click)="addToCart(); sendData()"
          >
            Add to Cart
          </button>
        </div>
        <div class="flex flex-row gap-2 ml-4 items-center cursor-pointer hover:text-yellow-400 text-gray-500">
          <fa-icon [icon]="faHeart" class="text-sm"/>
          <h3 class="text-xs font-bold uppercase mt-0.5">add to wishlist</h3>
        </div>

      </div>

    </div>
  </div>
  <div class="mt-8 flex flex-row float-end">
    @if(oneProduct.quantity < 10){
      <fa-icon [icon]="faCircle" class="text-[10px] mt-1.5 mr-2 text-red-600"/>
      <h3 class="text-md font-bold text-red-600">Low Stock - &nbsp;</h3>
      <h3 class="text-md font-bold text-gray-500">Only <label>{{ oneProduct.quantity }}</label> in stock&nbsp;&nbsp; / &nbsp;&nbsp;</h3>
      <div class="flex gap-2 flex-row align-middle">
        <fa-icon [icon]="faBolt" class="text-sm mt-0.5 text-green-500"/>
        <h3 class="text-md text-gray-500 font-bold"> Fast Delivery</h3>
      </div>
    }@else {
      <fa-icon [icon]="faCircle" class="text-[10px] mt-1.5 mr-2 text-green-500"/>
      <h3 class="text-md font-bold text-gray-500"><label class="text-green-500">In Stock</label> - Ready for Dispatch&nbsp;&nbsp; / &nbsp;&nbsp;</h3>
      <div class="flex gap-2 flex-row align-middle">
        <fa-icon [icon]="faBolt" class="text-sm mt-0.5 text-green-500"/>
        <h3 class="text-md text-gray-500 font-bold"> Fast Delivery</h3>
      </div>
    }

  </div>

  <div class="mt-40 flex justify-around items-center align-top text-gray-500 font-bold">
    <div class="flex gap-2 flex-col justify-center items-center">
      <fa-icon class="text-xl" [icon]="faShield" />
      <h3 class="text-gray-700">2-years warranty</h3>
    </div>
    <div class="h-14 w-0.5 bg-gray-400"></div>
    <div class="flex gap-2 flex-col justify-center items-center">
      <fa-icon class="text-xl" [icon]="faHeadphones" />
      <h3 class="text-gray-700">Want to speak to the team?</h3>
      <a href="#" class="text-gray-700 underline">Get in touch</a>
    </div>
    <div class="h-14 w-0.5 bg-gray-400"></div>
    <div class="flex gap-2 flex-col justify-center items-center">
      <fa-icon class="text-xl" [icon]="faTruck" />
      <h3 class="text-gray-700">Free Morocco delivery</h3>
    </div>
  </div>
  <hr class="w-full text-center mt-32 border-b-1.8">

  <div class="mt-8" id="desc">
    <h3 class="text-2xl " >Description</h3>
      <h3 class="text-gray-500 mt-4 opacity-80 line-clamp-2">{{ oneProduct.description }}</h3>

  </div>

  <hr class="w-full text-center mt-32 border-b-1.8">

  <div class="mt-8">
    <h3 class="text-2xl text-center" >Customer Reviews</h3>

    <!-- Reviews DIV -->
    <div class="flex justify-center gap-16 mt-8 items-center">
      <div class="flex flex-row gap-3">
        <div>
            <h3 class="text-4xl ">3.9</h3>
        </div>
        <div>
          <p-rating class="text-4xl" [(ngModel)]="value" [stars]="5" readonly />
          Based on 11 reviews
        </div>
      </div>
      <div class="h-14 w-0.5 bg-gray-400"></div>
      <div class="flex flex-col items-center">
        <div class="flex flex-row gap-2">
          <label>5</label>
          <p-rating class="text-4xl" [stars]="1" readonly />
          <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
          <label class="ml-8">15</label>

        </div>
        <div class="flex flex-row gap-2">
          <label>4</label>
          <p-rating class="text-4xl" [stars]="1" readonly />
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="flex flex-row gap-2">
          <label>3</label>
          <p-rating class="text-4xl" [stars]="1" readonly />
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="flex flex-row gap-2">
          <label>2</label>
          <p-rating class="text-4xl" [stars]="1" readonly />
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div class="flex flex-row gap-2">
          <label>1</label>
          <p-rating class="text-4xl" [stars]="1" readonly />
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>

      </div>
      <div class="h-14 w-0.5 bg-gray-400"></div>
      <div>
        <p-button label="Add a Review" class="p-3 text-white font-bold text-sm bg-yellow-400 rounded-xl " />
      </div>
    </div>
  </div>

  <hr class="w-full text-center mt-14 border-b-1.8">

  <div class="mt-10">
    <h3 class="text-2xl text-center" >You may also like</h3>

  </div>
</div>
