<div>
  <div
    class="flex bg-cover bg-center h-[600px]"
    style="background-image: url('/assets/home/purplebg.png')"
  >
    <div class="w-3/4 ml-28 pt-24 align-middle mt-16">
      <p
        class="text-base text-white"
        appAnimateFromViewport
        [animationClass]="'animate-from-top'"
        [duration]="2"
      >
        150$ - 200$
      </p>
      <h1
        appAnimateFromViewport
        [animationClass]="'animate-from-bottom-1'"
        [duration]="5"
        class="text-white font-nunito font-bold text-5xl my-4"
      >
        Modern Chair
      </h1>
      <p
        appAnimateFromViewport
        [animationClass]="'animate-from-bottom-2'"
        class="text-base text-white my-4"
      >
        Relax in style with our premium
      </p>
      <p
        appAnimateFromViewport
        [animationClass]="'animate-from-bottom-3'"
        class="text-base text-white my-4"
      >
        armchairs - comfort redefiend
      </p>
      <button
        appAnimateFromViewport
        [animationClass]="'animate-from-bottom-4'"
        class="bg-white text-black font-bold py-2 px-10 rounded-full"
      >
        Shop Now
      </button>
    </div>
    <div class="w-4/5 mt-20">
      <model-viewer
        src="assets/3dModels/showcase_armchairblack.glb"
        alt="A 3D model"
        camera-controls
        auto-rotate
        loading="eager"
        camera-orbit="0deg 75deg 11m"
        scale="4 4 4"
        style="width: 100%; height: 400px"
      >
      </model-viewer>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-4">
    <div class="p-4 content-center">
      <img
        appFadeIn
        src="assets/home/chairs/chair1.png"
        class="opacity-100 transition-opacity duration-500 scale-150 delay-0"
        alt="Wooden Drawer"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appFadeIn
        src="assets/home/chairs/chair2.png"
        class="opacity-100 transition-opacity duration-500 scale-125 delay-100"
        alt="Modern Chair"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appFadeIn
        src="assets/home/chairs/chair3.png"
        class="opacity-100 transition-opacity duration-500 scale-125 delay-500"
        alt="Modern Table"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appFadeIn
        src="assets/home/chairs/chair4.png"
        class="opacity-100 transition-opacity duration-500 delay-1000"
        alt="Sofa"
      />
    </div>
  </div>

  <div class="grid grid-cols-4 grid-rows-2 h-full gap-0">
    <div class="col-span-2 row-span-2">
      <img
        appFadeIn
        src="assets/home/desks/desk1.jpg"
        alt="Wooden Drawer"
        class="h-full w-full object-cover opacity-100 transition-opacity duration-500 delay-1000"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appFadeIn
        src="assets/home/desks/desk2.jpg"
        alt="Modern Chair"
        class="h-full w-full object-cover opacity-100 transition-opacity duration-500 delay-1000"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appFadeIn
        src="assets/home/desks/desk3.jpg"
        alt="Modern Table"
        class="h-full w-full object-cover opacity-100 transition-opacity duration-500 delay-1000"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appFadeIn
        src="assets/home/desks/desk4.jpg"
        alt="Sofa"
        class="h-full w-full object-cover opacity-100 transition-opacity duration-500 delay-1000"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appFadeIn
        src="assets/home/desks/desk5.jpg"
        alt="Armchair"
        class="h-full w-full object-cover opacity-100 transition-opacity duration-500 delay-1000"
      />
    </div>
  </div>
  <div class="flex items-center justify-center h-36">
    <p class="font-nunito font-bold text-4xl my-4 underline underline-offset-8">
      Shop collections
    </p>
  </div>

  <div class="grid grid-cols-2 h-[550px] w-full gap-0">
    <div class="bg-[#DBE2EF] flex items-center justify-center">
      <div class="ml-8">
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-top'"
          class="text-white text-base"
        >
          new collection
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-1'"
          class="text-white font-nunito font-bold text-4xl my-4"
        >
          Modern <br />
          Beds
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-2'"
          class="text-white text-base underline underline-offset-4"
        >
          see more
        </p>
      </div>

      <!-- <img
        appFadeIn
        src="assets/home/tables/table1.png"
        alt="Wooden Desk"
        class="w-96 "

      /> -->
      @defer{
      <model-viewer
        src="assets/3dModels/blue_bed.glb"
        alt="A 3D model"
        camera-controls
        camera-orbit="0deg 75deg 4.5m"
        auto-rotate
        style="width: 100%; height: 400px"
      >
      </model-viewer>
      }@placeholder {
      <p class="text-white">Blue bed</p>
      }
    </div>
    <div class="bg-[#112D4E] flex items-center justify-center">
      <div class="ml-8">
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-top'"
          [duration]="5"
          class="text-white text-base"
        >
          new collection
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-1'"
          class="text-white font-nunito font-bold text-4xl my-4"
        >
          Wooden <br />
          Drawers
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-2'"
          class="text-white text-base underline underline-offset-4"
        >
          see more
        </p>
      </div>
      @defer{
      <model-viewer
        src="assets/3dModels/caster_drawer.glb"
        alt="A 3D model"
        camera-controls
        auto-rotate
        loading="eager"
        style="width: 100%; height: 400px"
      >
      </model-viewer>
      }@placeholder {
      <p class="text-white">Brown cabinet</p>
      }
    </div>
  </div>

  <div class="flex justify-center items-center min-h-screen mt-20">
    <div class="w-4/5 mt-12 p-5">
      <p
        class="text-center font-nunito font-bold text-4xl my-4 underline underline-offset-8"
      >
        best Sellers
      </p>
      <div
        class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
      >
        @for (product of chairs; track $index) {
        <app-product [height]="'200px'" [product]="product"></app-product>
        }
      </div>
    </div>
  </div>
</div>
