<div>
  <div class="slider-container">
    <!-- Render the current component dynamically -->
    <ng-container [@fadeAnimation] class="fade" *ngIf="currentComponent === 'hero1'">
      <app-hero1></app-hero1>
    </ng-container>
    <ng-container [@fadeAnimation] class="fade" *ngIf="currentComponent === 'hero2'">
      <app-hero2></app-hero2>
    </ng-container>
    <ng-container [@fadeAnimation] class="fade" *ngIf="currentComponent === 'hero3'">
      <app-hero3></app-hero3>
    </ng-container>
  </div>

  <div class="grid grid-cols-4 gap-4">
    <div class="p-4 content-center">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-1'"
        src="assets/home/chairs/chair1.png"
        class="opacity-0 scale-150"
        alt="Wooden Drawer"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-2'"
        src="assets/home/chairs/chair2.png"
        class="opacity-0 scale-125"
        alt="Modern Chair"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-3'"
        src="assets/home/chairs/chair3.png"
        class="opacity-0 scale-125"
        alt="Modern Table"
      />
    </div>
    <div class="p-4 content-center">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-4'"
        src="assets/home/chairs/chair4.png"
        class="opacity-0"
        alt="Sofa"
      />
    </div>
  </div>
  @defer () {
  <div class="grid grid-cols-4 grid-rows-2 h-full gap-0">
    <div class="col-span-2 row-span-2">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-1'"
        src="assets/home/desks/desk1.jpg"
        alt="Wooden Drawer"
        class="h-full w-full object-cover opacity-0"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-2'"
        src="assets/home/desks/desk2.jpg"
        alt="Modern Chair"
        class="h-full w-full object-cover opacity-0"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-2'"
        src="assets/home/desks/desk3.jpg"
        alt="Modern Table"
        class="h-full w-full object-cover opacity-0"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-3'"
        src="assets/home/desks/desk4.jpg"
        alt="Sofa"
        class="h-full w-full object-cover opacity-0"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        appAnimateFromViewport
        [animationClass]="'animate-fade-in-3'"
        src="assets/home/desks/desk5.jpg"
        alt="Armchair"
        class="h-full w-full object-cover opacity-0"
      />
    </div>
  </div>
  <div class="flex items-center justify-center h-36">
    <p class="font-nunito font-bold text-4xl my-4 underline underline-offset-8">
      Shop collections
    </p>
  </div>
  }@placeholder {
  <p>huh</p>

  }

  <div class="grid grid-cols-2 h-[550px] w-full gap-0">
    <div class="bg-[#DBE2EF] flex items-center justify-center">
      <div class="ml-8">
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-top'"
          class="text-white opacity-0 text-base"
        >
          new collection
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-1'"
          class="text-white opacity-0 font-nunito font-bold text-4xl my-4"
        >
          Modern <br />
          Beds
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-2'"
          class="text-white opacity-0 text-base underline underline-offset-4"
        >
          see more
        </p>
      </div>

      <!-- <img
        appFadeIn
        src="assets/home/tables/table1.png"
        alt="Wooden Desk"
        class="w-96 "

      /> -->
      @defer{
      <model-viewer
        src="assets/3dModels/blue_bed.glb"
        alt="A 3D model"
        camera-controls
        camera-orbit="0deg 75deg 4.5m"
        auto-rotate
        style="width: 100%; height: 400px"
        id="model"
      >
      </model-viewer>
      }@placeholder {
      <p class="text-white">Blue bed</p>
      }
    </div>
    <div class="bg-[#112D4E] flex items-center justify-center">
      <div class="ml-8">
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-top'"
          [duration]="5"
          class="text-white text-base opacity-0"
        >
          new collection
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-1'"
          class="text-white font-nunito font-bold text-4xl my-4 opacity-0"
        >
          Wooden <br />
          Drawers
        </p>
        <p
          appAnimateFromViewport
          [animationClass]="'animate-from-bottom-2'"
          class="text-white text-base underline underline-offset-4 opacity-0"
        >
          see more
        </p>
      </div>
      @defer{
      <model-viewer
        src="assets/3dModels/caster_drawer.glb"
        alt="A 3D model"
        camera-controls
        auto-rotate
        loading="eager"
        style="width: 100%; height: 400px"
        id="model"
      >
      </model-viewer>
      }@placeholder {
      <p class="text-white">Brown cabinet</p>
      }
    </div>
  </div>

  <div class="flex justify-center items-center min-h-screen mt-20">
    <div class="w-4/5 mt-12 p-5">
      <p
        class="text-center font-nunito font-bold text-4xl my-4 underline underline-offset-8"
      >
        best Sellers
      </p>
      <div
        class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
      >
        @for (product of bestSellerProducts; track $index) {
        <app-product [height]="'200px'" [product]="product"></app-product>
        }
      </div>
    </div>
  </div>
</div>
