<div class="container mx-auto">
  <div
    class="bg-cover bg-center h-[412px]"
    style="background-image: url('/assets/home/purplebg.png')"
  >
    <div class="ml-28 pt-24">
      <p class="text-base text-white">150$ - 200$</p>
      <h1 class="text-white font-nunito font-bold text-5xl my-4">
        Modern Chair
      </h1>
      <p class="text-base text-white my-4">Relax in style with our premium</p>
      <p class="text-base text-white my-4">armchairs - comfort redefiend</p>
      <button class="bg-white text-black font-bold py-2 px-10 rounded-full">
        Shop Now
      </button>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-4 h-60 mb-10">
    <div class="p-4 content-center h-full">
      <img src="assets/home/chairs/chair1.png" alt="Wooden Drawer" />
    </div>
    <div class="p-4 content-center">
      <img src="assets/home/chairs/chair2.png" alt="Modern Chair" />
    </div>
    <div class="p-4 content-center">
      <img src="assets/home/chairs/chair3.png" alt="Modern Table" />
    </div>
    <div class="p-4 content-center">
      <img src="assets/home/chairs/chair4.png" alt="Sofa" />
    </div>
  </div>

  <div class="grid grid-cols-4 grid-rows-2 h-full gap-0">
    <div class="col-span-2 row-span-2">
      <img
        src="assets/home/desks/desk1.png"
        alt="Wooden Drawer"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        src="assets/home/desks/desk2.png"
        alt="Modern Chair"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        src="assets/home/desks/desk3.png"
        alt="Modern Table"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        src="assets/home/desks/desk4.png"
        alt="Sofa"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="col-span-1 row-span-1">
      <img
        src="assets/home/desks/desk5.png"
        alt="Armchair"
        class="h-full w-full object-cover"
      />
    </div>
  </div>
  <div class="flex items-center justify-center h-36">
    <p class="font-nunito font-bold text-4xl my-4 underline underline-offset-8">
      Shop collections
    </p>
  </div>

  <div class="grid grid-cols-2 h-40 w-full gap-0">
    <div class="bg-fuchsia-500 flex items-center justify-center">
      <div class="ml-8">
        <p class="text-white text-base">new collection</p>
        <p class="text-white font-nunito font-bold text-4xl my-4">Wooden <br> Drawers</p>
        <p class="text-white text-base underline underline-offset-4">see more</p>
      </div>
      <img
        src="assets/home/tables/table1.png"
        alt="Wooden Desk"
        class="ml-auto h-[430px] w-[430px]"
      />
    </div>
    <div class="bg-fuchsia-700 flex items-center justify-center">
      <div class="ml-8">
        <p class="text-white text-base">new collection</p>
        <p class="text-white font-nunito font-bold text-4xl my-4">Wooden <br> Drawers</p>
        <p class="text-white text-base underline underline-offset-4">see more</p>
      </div>
      <img
        src="assets/home/tables/table2.png"
        alt="Modern Glass Table"
        class="ml-auto"
      />
    </div>
  </div>
</div>
