<footer class="bg-gray-900 text-white py-6">
    <div class="container mx-auto flex justify-around items-center mt-14">
      <div>
        <h2 class="text-2xl font-semibold mb-2">RINGO</h2>
        <p class="text-sm">Stylish, comfortable furniture crafted to transform your space.</p>
        <p class="text-sm">Explore our collection and bring your vision to life.</p>
      </div>
      <div>
        <h2 class="text-base font-semibold mb-2">Follow us on</h2>
        <div class="flex space-x-4">
          <a href="#" class="text-xl"><fa-icon [icon]="faLinkedin"></fa-icon></a> 
          <a href="#" class="text-xl"><fa-icon [icon]="faInstagram"></fa-icon></a> 
          <a href="#" class="text-xl"><fa-icon [icon]="faFacebook"></fa-icon></a> 
        </div>
      </div>
    </div>
    
    <div class="text-center mt-20">
    <hr>
      <p class="text-sm mt-8">&copy; RINGO 2024 All rights reserved.</p>
    </div>
  </footer>